<!DOCTYPE html>
<html lang="en">
<head>
    <?- include('../partials/head', {title: "Home", css: "/login.css"}); ?>
</head>
<body>
    <?- include('../partials/nav'); ?>






    <?- include('../partials/footer'); ?>
</body>
</html>