<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {css: "/login.css"}); %>
</head>
<body>
    <%- include('../partials/nav'); %>






    <%- include('../partials/footer'); %>
</body>
</html>