<!DOCTYPE html>
<html lang="en">
<head>
    <?- include('../partials/head', {title: "Home"}); ?>
</head>
<body>
    <?- include('../partials/nav'); ?>
    <main class='flex items-center justify-center'>
        <form>
            <input type="text" name='username' placeholder='Username'>
            <input type="text" name='email' placeholder='Email'>
            <input type="text" name='password' placeholder='Password'>
            <button>Submit</button>
        </form>
        
    </main>

    <?- include('../partials/footer'); ?>
</body>
</html>
